<section class="section" id="error">
    <div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                <h1 class="title">404</h1>
                <h2 class="subtitle">{{ "ERROR_TYPE"|t }}</h2>        
                <h3 class="tagline">{{ "ERROR_DESC"|t }}</h3>
                <p><a href="home" class="btn btn-default btn-lg">{{ "ERROR_BTN"|t }}</a></p>
			</div>
		</div>	
	</div>
</section>