<section class="section" id="head">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">{{ page.title }}</h1>
                <!-- Short introductory (optional) -->
				<h2 class="subtitle">{{ "HOME_SUB_TITLE"|t }}</h2>
				<!-- Place to describe your site in a sentence or two -->
				<h3 class="tagline">{{ "HOME_TAGLINE"|t }}</h3>
				<!-- Button -->
				<p><a href="https://github.com/CaribThemes/grav-theme-tintamarre/releases" target="_blank" class="btn btn-default btn-lg">{{ "HOME_DOWNLOAD_BTN"|t }}</a></p>
			</div>
		</div>	
	</div>
</section>